/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}

p:first-child{
	width:100%;
	color:white;
	background-color:black;
	margin:0;
	padding:0;
}

p:nth-child(2){
	color:black;
}

p:last-child{
	color:red;
}

li{
background-color:gray;
	width:50%;
	padding:10px;
}

li:first-child{
	font-size:22px;
}

li:last-child{
	font-size:22px;
}

li:nth-child(odd){
	background-color:white;
}

li:nth-child(3){
	background-color:pink;
}

article>p:first-child{
	background-color:rgb(135, 206, 235);
	color:black;
}